@tailwind base;
@tailwind components;
@tailwind utilities;

#article-content h2 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 0.9rem;
}

#article-content h3 {
    font-size: 1.4rem;
    font-weight: 500;
}

#article-content h4 {
    font-size: 1.2rem;
    font-weight: 500;
}

#article-content p {
    margin-bottom: 0.9rem;
}

#article-content ul,
#article-content ol {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    margin-bottom: 0.9rem;
}

#article-content hr {
    opacity: 0.05;
}

#article-content pre {
    background-color: #1b2227;
    padding: 16px;
    border: 1px solid #ffffff05;
    border-radius: 5px;
    overflow: auto;
}

#article-content code {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-size: 14px;
}

#article-content a {
    color: #00a2ff;
    background-color: #00a2ff10;
    padding: 1px 4px;
    border-radius: 6px;
    font-weight: 500;
    translate: all 0.3s;
}

#article-content a:hover {
    opacity: 0.75;
}
